body {
    font-family: sans-serif;
    font-weight:100;
    margin:0px;
    padding:0px;
    }

#controls {
     text-align:right;
     display:block;
     padding:.25em;
     border-bottom: 1px solid #ccc;
     padding-right:.75em;   
     margin-bottom:.5em;
}

button {
       border-radius:0px;
       border:none;
       background-color:#fff;
       padding:0;
       font-size:1.5em;
       font-weight:700;
}

    .clock {
    	width: 300px;
	heigth: 350px;
	float: left;
	text-align: center;
    }

    .clock:after {
        content:attr(data-location);
    }

    svg {
    	height:260px;
	padding:0px;
	margin:0px;
	// border:2px solid red;
    }

    .clock-tomorrow line {
    	stroke: #999 !important;
    }

    .clock-tomorrow circle {
    	stroke: #999 !important;
    }

    .clock-tomorrow circle:last-child {
    	fill: #999 !important;
    }
